@import "./fonts/fonts.scss";
@import "./color.global.scss";

body {
    font-family: 'NotoSans', 'NotoSansJp';
    color: $foreground-color-basic;
    background-color: $background-color-basic;
    font-size: 14px;
    line-height: 1;
}
