// theme
$theme-primary: #0f2d3e;
$theme-secondary: #f0a652;
// base
$base-light: #f3f3f3;
$base-dark: #1c1c1c;
// attention
$attention-error: #ff0000;
$attention-warning: #d9ff00;

$foreground-color-basic: $base-dark;
$background-color-basic: $base-light;

$foreground-color-title: $base-light;
$background-color-title: $theme-primary;